.modal-wrapper {
  background: white;
  width: 20rem;
  max-width: 20rem;
  margin: 4rem auto;
  position: absolute;
  top: 30%;
  left: 40%;
  transition: 350ms;
}

.modal-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-content {
  display:flex;
  padding: 1rem;
  justify-content: center;
}


.modal-content button {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.btn-create {
  padding: 0.5rem;

}

.modal-show {
  display: block;
}

.modal-hide {
  display: none;
}

.input {
  padding: 0.5rem;
}
