.videoplayer-container {
    display: flex;
    flex-direction: column;

}

.video-player {
  width: 100%;
  height: 75vh;
}

.videodetails {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details {
    margin: 0.4rem;
    
}

.icon {
    width: 2rem;
    height:2rem;
    color:grey;
    padding: 0.5rem;
}
.video-description {
    display: flex;
    width:70%;
    flex-direction: column;
    text-align: left;

}

.video-title {
    font-size:1.3rem;

}

.back-drop {
    background: rgb(63, 61, 61, 0.6);
    height: 100%;
    position: fixed;
    transition:350ms;
    width: 100%;
}